.header {
  background-color: #00f; /* Fundo azul */
  padding: 20px;
}

.logo {
  color: #0f0; /* Texto em destaque verde */
  text-align: center;
  margin: 0;
}

.logo-image {
  display: block;
  margin: 20px auto; /* Ajuste conforme necessário */
}
