  * {
    margin: 0%;
    padding: 0%;
  }
 
 .cabeçalho {
    background-color: rgb(173, 173, 209);
    color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
  }

  .cabeçalho-imagem {
    width: 60%;
    
     }

  .cabeçalho-lista-iten{
    display:inline-block;
    margin:0% 16px ;
    font-size: 24px;
  }
  .edutech-imagem{
    width: 25%;
  }
  .EDUTECH{
    background-image: linear-gradient(rgb(173, 173, 209),#a1e0f7);
    color: rgb(156, 35, 35);
    display: flex;
    justify-content: center;
    .edutech-div-conteudo{
      width: 35%;
    }
  }